@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Grotesk Variable", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
